{% load static %}
<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title> iboost - Home</title>
<meta name="title" Content="iboost.ng - Home">
<meta name="description" content="Cheapest Social Media Followers and Likes Service In Nigeria Starting At Only ₦1">
<meta name="keywords" content="tiktok,instagram followers,buy instagram followers,instagram likes,buy instagram likes,buy instagram views,instagram followers nigeria,buy followers in nigeria">
<link rel="shortcut icon" href="{% static 'assets/images/logoIcon/favicon.png' %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'assets/images/logoIcon/logo.png' %}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="iboost.ng - Home">
<meta itemprop="name" content="iboost.ng - Home">
<meta itemprop="description" content="">
<meta itemprop="image" content="{% static 'assets/images/seo/617e7c58c2d741635679320.png' %}">
<meta property="og:type" content="website">
<meta property="og:title" content="iboost.ng">
<meta property="og:description" content="Cheapest Social Media Followers and Likes Service In Nigeria Starting At Only ₦1">
<meta property="og:image" content="{% static 'assets/images/seo/617e7c58c2d741635679320.png' %}" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="315" />
<meta property="og:url" content="https://iboost.ng">
<meta name="twitter:card" content="summary_large_image">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/templates/basic/css/line-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/templates/basic/css/fontawesome-all.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/font/flaticon.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/magnific-popup.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/nice-select.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/swiper.min.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/odometer.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/themify.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/animate.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/jquery.animatedheadline.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/style.css' %}">

<link rel="stylesheet" href="{% static 'assets/templates/basic/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'assets/templates/basic//css/bootstrap-fileinput.css' %}">
<link rel="stylesheet" href="{% static 'assets/templates/basic/css/color.php?color=054944&amp;secondColor=138D87' %}">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

<script type="d11b34a6a8773c2db3782d5d-text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/25397861.js"></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=AW-984143866" type="d11b34a6a8773c2db3782d5d-text/javascript"></script>
<script type="d11b34a6a8773c2db3782d5d-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-984143866');
</script>

<script type="d11b34a6a8773c2db3782d5d-text/javascript">
    window.nudgify = {data: {"product":{"stock":null,"image":null,"id":null}}};
    (function(w){
        var k="nudgify",n=w[k]||(w[k]={});
        n.uuid="04be8603-a291-4191-895a-21ff9c776c92";
        var d=document,s=d.createElement("script");
        s.src="https://pixel.nudgify.com/pixel.js";
        s.async=1;
        s.charset="utf-8";
        d.getElementsByTagName("head")[0].appendChild(s)
    })(window)
</script>


<script src="//code.tidio.co/qsrecurllblsjwethpseguo4kplrvznf.js" async></script>

</head>
<body>







{% include 'layout/header.html' %}

<a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>



<section class="banner-section">
<div class="banner-element">
<img src="{% static 'assets/images/frontend/hero/606859a23e2531617451426.png' %}" alt="banner">
</div>
<div class="banner-shape-one">
<img src="{% static 'assets/templates/basic/images/banner/icon-1.png' %}" alt="shape">
</div>
<div class="banner-shape-two">
<img src="{% static 'assets/templates/basic/images/banner/icon-2.png' %}" alt="shape">
</div>
<div class="banner-shape-three">
<img src="{% static 'assets/templates/basic/images/banner/icon-3.png' %}" alt="shape">
</div>
<div class="container">
<figure class="figure highlight-background highlight-background--lean-right">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1291px" height="480px">
<defs>
<linearGradient id="PSgrad_0" x1="0%" x2="0%" y1="100%" y2="0%">
<stop offset="28%" stop-color="rgb(244,245,250)" stop-opacity="1" />
<stop offset="100%" stop-color="rgb(252,253,255)" stop-opacity="1" />
</linearGradient>
</defs>
<path fill-rule="evenodd" opacity="0.1" fill="rgb(0, 0, 0)" d="M480.084,0.001 L1290.991,0.001 L810.906,831.000 L-0.000,831.000 L480.084,0.001 Z" />
<path fill="url(#PSgrad_0)" d="M480.084,0.001 L1290.991,0.001 L810.906,831.000 L-0.000,831.000 L480.084,0.001 Z" />
</svg>
</figure>
<div class="row align-items-center">
<div class="col-lg-7">
<div class="banner-content">
<h2 class="title">Instagram, Tiktok and Youtube Followers Service from ₦1 Only</h2>
<p>Get Followers and Likes for your Instagram, Tiktok and Youtube Account at Affordable Prices. Our services are the most reliable you will ever need!</p>
<div class="banner-btn">
<a href="{% url 'account:register' %}" class="cmn-btn">Get Started Now</a>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="service-section ptb-80" id="service">
<div class="container">
<figure class="figure highlight-background highlight-background--lean-left">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1439px" height="480px">
<defs>
<linearGradient id="PSgrad_1" x1="42.262%" x2="0%" y1="90.631%" y2="0%">
<stop offset="28%" stop-color="rgb(245,246,252)" stop-opacity="1" />
<stop offset="100%" stop-color="rgb(255,255,255)" stop-opacity="1" />
</linearGradient>
</defs>
<path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M863.247,-271.203 L-345.788,-427.818 L760.770,642.200 L1969.805,798.815 L863.247,-271.203 Z" />
<path fill="url(#PSgrad_1)" d="M863.247,-271.203 L-345.788,-427.818 L760.770,642.200 L1969.805,798.815 L863.247,-271.203 Z" />
</svg>
</figure>
<div class="row justify-content-center">
<div class="col-lg-8 text-center">
<div class="section-header">
<span class="sub-title">Service</span>
<h2 class="section-title">Our SMM Services</h2>
<span class="title-border"></span>
</div>
</div>
</div>
<div class="row justify-content-center ml-b-40">
<div class="col-lg-4 col-md-6 col-sm-8 mrb-30">
<div class="service-item text-center">
<div class="service-shape">
<img src="{% static 'assets/templates/basic/images/shape-3.png' %}" alt="shape">
</div>
<div class="service-icon">
<i class="lab la-instagram"></i> </div>
<div class="service-content">
<h3 class="title">Instagram Services</h3>
<p>Let&#039;s put your Instagram accounts on the front pack of the race. Get more likes, followers and views.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-8 mrb-30">
<div class="service-item text-center">
<div class="service-shape">
<img src="{% static 'assets/templates/basic/images/shape-3.png' %}" alt="shape">
</div>
<div class="service-icon">
<i class="lar la-heart"></i> </div>
<div class="service-content">
<h3 class="title">Tiktok Services</h3>
<p>Let&#039;s grow your Tiktok accounts on the front pack of the race. Get more likes, followers and views.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-8 mrb-30">
<div class="service-item text-center">
<div class="service-shape">
<img src="{% static 'assets/templates/basic/images/shape-3.png' %}" alt="shape">
</div>
<div class="service-icon">
<i class="lab la-youtube"></i> </div>
<div class="service-content">
<h3 class="title">Youtube Services</h3>
<p>Grow your YouTube channels. Increase the views, likes, subscribers, comments and shares on your videos.</p>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="about-section ptb-80" id="about">
<div class="about-shape-one">
<img src="{% static 'assets/templates/basic/images/banner/icon-1.png' %}" alt="shape">
</div>
<div class="about-shape-two">
<img src="{% static 'assets/templates/basic/images/banner/icon-2.png' %}" alt="shape">
</div>
<div class="about-shape-three">
<img src="{% static 'assets/templates/basic/images/banner/icon-3.png' %}" alt="shape">
</div>
<div class="container">
<figure class="figure highlight-background highlight-background--lean-left">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1439px" height="480px">
<defs>
<linearGradient id="PSgrad_2" x1="42.262%" x2="0%" y1="90.631%" y2="0%">
<stop offset="28%" stop-color="rgb(245,246,252)" stop-opacity="1" />
<stop offset="100%" stop-color="rgb(255,255,255)" stop-opacity="1" />
</linearGradient>
</defs>
<path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M863.247,-271.203 L-345.788,-427.818 L760.770,642.200 L1969.805,798.815 L863.247,-271.203 Z" />
<path fill="url(#PSgrad_2)" d="M863.247,-271.203 L-345.788,-427.818 L760.770,642.200 L1969.805,798.815 L863.247,-271.203 Z" />
</svg>
</figure>
<div class="row justify-content-center ml-b-30">
<div class="col-lg-6 mrb-30">
<div class="about-thumb">
<img src="{% static 'assets/images/frontend/about/606863bb72e421617454011.png' %}" alt="about">
</div>
</div>
<div class="col-lg-6 mrb-30">
<div class="about-content">
<h2 class="title">Fast Social Media Marketing Provider</h2>
<span class="title-border"></span>
<p>Iboost is the cheapest Social Media Marketing Service Panel providing affordable Social Media Marketing Services to boost your presence on Instagram, TikTok and YouTube. Our main goal is to provide affordable and 100% quality Social Media Services for Nigerians.
Stop struggling to increase your social media presence and take advantage of the services we provide. We can help you grow your social media presence on an various of social media platforms such as Instagram, TikTok, YouTube and more.</p>
<div>
<li><a href="{% url 'core:services' %}" class="cmn-btn text-white">Services List</a></li>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="action-section ptb-80 bg_img" data-background="{% static 'assets/templates/basic/images/action-bg.png' %}" style="background-image: url(&quot;{% static 'assets/templates/basic/images/action-bg.png' %}&quot;);">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-12 text-center">
<div class="action-content">
<span class="sub-title">Join Iboost.ng Today!</span>
<h2 class="title">Take Your Social Media Presence To Next Level</h2>
<div class="action-btn">
<a href="{% url 'account:login' %}" class="cmn-btn-active">Get Started Now</a>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="faq-section ptb-80">
<div class="container">
<figure class="figure highlight-background highlight-background--lean-left">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1439px" height="480px">
<defs>
<linearGradient id="PSgrad_4" x1="42.262%" x2="0%" y1="90.631%" y2="0%">
<stop offset="28%" stop-color="rgb(245,246,252)" stop-opacity="1" />
<stop offset="100%" stop-color="rgb(255,255,255)" stop-opacity="1" />
</linearGradient>
</defs>
<path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M863.247,-271.203 L-345.788,-427.818 L760.770,642.200 L1969.805,798.815 L863.247,-271.203 Z" />
<path fill="url(#PSgrad_4)" d="M863.247,-271.203 L-345.788,-427.818 L760.770,642.200 L1969.805,798.815 L863.247,-271.203 Z" />
</svg>
</figure>
<div class="row justify-content-center">
<div class="col-lg-8 text-center">
<div class="section-header">
<span class="sub-title">Order Now</span>
<h2 class="section-title">How to place orders on iboost.ng</h2>
<span class="title-border"></span>
</div>
</div>
</div>
<div class="row justify-content-center">
<div class="col-lg-6 mrb-30">
<div class="faq-wrapper">
<div class="faq-item active">
<h3 class="faq-title"><span class="title">1. Register and Log In </span><span class="right-icon"></span></h3>
<div class="faq-content" style="display: none;">
<p>Start with registering on our panel and logging in.</p>
</div>
</div>
<div class="faq-item">
<h3 class="faq-title"><span class="title">2. Fund Account </span><span class="right-icon"></span></h3>
<div class="faq-content" style="display: none;">
<p>Pick a payment method you want and deposit funds to your account.</p>
</div>
</div>
<div class="faq-item">
<h3 class="faq-title"><span class="title">3. Select a Service </span><span class="right-icon"></span></h3>
<div class="faq-content" style="display: none;">
<p>Select SMM services to help your business receive more publicity.</p>
</div>
</div>
<div class="faq-item">
<h3 class="faq-title"><span class="title">4. Enjoy Results </span><span class="right-icon"></span></h3>
<div class="faq-content" style="display: none;">
<p>Once your order is complete, you will be satisfied with the results.</p>
</div>
</div>
</div>
</div>
<div class="col-lg-6 mrb-30">
<div class="faq-thumb">
<img src="{% static 'assets/images/frontend/faq/60686dd6ea4bf1617456598.png' %}" alt="about">
</div>
</div>
</div>
</div>
</section>


<div class="client-section ptb-80 bg_img" data-background="{% static 'assets/templates/basic/images/client-bg.png' %}" style="background-image: url(&quot;{% static 'assets/templates/basic/images/client-bg.png' %}&quot;);">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="section-header">
<h2 class="section-title">1000+ Companies Have Switched To Our Company</h2>
<span class="title-border"></span>
</div>
</div>
</div>
<div class="row justify-content-center ml-b-20">
<div class="col-lg-12">
<div class="client-slider swiper-container-horizontal">
<div class="swiper-wrapper" style="transform: translate3d(-1569px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" style="width: 493px; margin-right: 30px;" data-swiper-slide-index="2">
<div class="client-item">
<div class="client-content">
<div class="client-details">
<div class="client-ratings">
 <i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
</div>
<p>Ad aut corrupti. Neque sunt maxime suscipit itaque minima voluptatem.</p>
</div>
<div class="client-bottom">
<div class="client-thumb">
<img src="{% static 'assets/images/frontend/testimonial/6069498cace161617512844.png' %}" alt="client">
</div>
<div class="client-title">
<h3 class="title">Sophia Sosa</h3>
<span class="sub-title">Engineer</span>
</div>
</div>
</div>
</div>
</div>
<div class="swiper-slide swiper-slide-duplicate-next" style="width: 493px; margin-right: 30px;" data-swiper-slide-index="0">
<div class="client-item">
<div class="client-content">
<div class="client-details">
<div class="client-ratings">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
 </div>
<p>Ad aut corrupti. Neque sunt maxime suscipit itaque minima voluptatem.</p>
</div>
<div class="client-bottom">
<div class="client-thumb">
<img src="{% static 'assets/images/frontend/testimonial/606949ae249a61617512878.png' %}" alt="client">
</div>
<div class="client-title">
<h3 class="title">Maxwell Morgan</h3>
<span class="sub-title">Consultant</span>
</div>
</div>
</div>
</div>
</div>
<div class="swiper-slide swiper-slide-prev" style="width: 493px; margin-right: 30px;" data-swiper-slide-index="1">
<div class="client-item">
<div class="client-content">
<div class="client-details">
<div class="client-ratings">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>
<p>Ad aut corrupti. Neque sunt maxime suscipit itaque minima voluptatem.</p>
</div>
<div class="client-bottom">
<div class="client-thumb">
<img src="{% static 'assets/images/frontend/testimonial/6069499e64b2a1617512862.png' %}" alt="client">
</div>
<div class="client-title">
<h3 class="title">Lana Mcpherson</h3>
<span class="sub-title">Product Expert</span>
</div>
</div>
</div>
</div>
</div>
<div class="swiper-slide swiper-slide-active" style="width: 493px; margin-right: 30px;" data-swiper-slide-index="2">
<div class="client-item">
<div class="client-content">
<div class="client-details">
<div class="client-ratings">
 <i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
</div>
<p>Ad aut corrupti. Neque sunt maxime suscipit itaque minima voluptatem.</p>
</div>
<div class="client-bottom">
<div class="client-thumb">
<img src="{% static 'assets/images/frontend/testimonial/6069498cace161617512844.png' %}" alt="client">
</div>
<div class="client-title">
<h3 class="title">Sophia Sosa</h3>
<span class="sub-title">Engineer</span>
</div>
</div>
</div>
</div>
</div>
<div class="swiper-slide swiper-slide-duplicate swiper-slide-next" style="width: 493px; margin-right: 30px;" data-swiper-slide-index="0">
<div class="client-item">
<div class="client-content">
<div class="client-details">
<div class="client-ratings">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
 </div>
<p>Ad aut corrupti. Neque sunt maxime suscipit itaque minima voluptatem.</p>
</div>
<div class="client-bottom">
<div class="client-thumb">
<img src="{% static 'assets/images/frontend/testimonial/606949ae249a61617512878.png' %}" alt="client">
</div>
<div class="client-title">
<h3 class="title">Maxwell Morgan</h3>
<span class="sub-title">Consultant</span>
</div>
</div>
</div>
</div>
</div></div>
<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</div>
</div>
</div>
</div>


{% include 'layout/footer.html' %}

<div class="privacy-area privacy-area--style">
<div class="container">
<div class="copyright-area d-flex flex-wrap align-items-center justify-content-center">
<div class="copyright">
<p>Copyright © 2023 All Rights reserved iboost.ng</p>
</div>
</div>
</div>
</div>




<script data-cfasync="false" src="{% static 'cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'assets/templates/basic/js/jquery-3.6.0.min.js' %}" type="d11b34a6a8773c2db3782d5d-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/jquery-migrate-3.0.0.js' %}" type="d11b34a6a8773c2db3782d5d-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/bootstrap.min.js' %}" type="d11b34a6a8773c2db3782d5d-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/jquery.magnific-popup.js' %}" type="d11b34a6a8773c2db3782d5d-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/jquery.nice-select.js' %}" type="d11b34a6a8773c2db3782d5d-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/swiper.min.js' %}" type="d11b34a6a8773c2db3782d5d-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/plugin.js' %}" type="d11b34a6a8773c2db3782d5d-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/chart.js' %}" type="d11b34a6a8773c2db3782d5d-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/viewport.jquery.js' %}" type="d11b34a6a8773c2db3782d5d-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/odometer.min.js' %}" type="d11b34a6a8773c2db3782d5d-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/wow.min.js' %}" type="d11b34a6a8773c2db3782d5d-text/javascript"></script>

<script src="{% static 'assets/templates/basic/js/main.js' %}" type="d11b34a6a8773c2db3782d5d-text/javascript"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-211452243-1" type="d11b34a6a8773c2db3782d5d-text/javascript"></script>
<script type="d11b34a6a8773c2db3782d5d-text/javascript">
                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag("js", new Date());
                
                  gtag("config", "UA-211452243-1");
                </script>
<link rel="stylesheet" href="{% static 'assets/admin/css/iziToast.min.css' %}">
<script src="{% static 'assets/admin/js/iziToast.min.js' %}" type="d11b34a6a8773c2db3782d5d-text/javascript"></script>
<script type="d11b34a6a8773c2db3782d5d-text/javascript">
"use strict";
    function notify(status,message) {
        iziToast[status]({
            message: message,
            position: "topRight"
        });
    }
</script>
<script type="d11b34a6a8773c2db3782d5d-text/javascript">
    (function ($) {
        "use strict";
        $(document).on("change", ".langSel", function() {
            window.location.href = "https://slab.ng/change/"+$(this).val() ;
        });

        $('.policy').on('click',function(){
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
            $.get('https://slab.ng/cookie/accept', function(response){
                iziToast.success({message: response, position: "topRight"});
                $('.cookie__wrapper').addClass('d-none');
            });
        });
    })(jQuery);
</script>
<script type="d11b34a6a8773c2db3782d5d-text/javascript" src="https://apiv2.popupsmart.com/api/Bundle/382489" async></script>
<script src="{% static 'cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js' %}" data-cf-settings="d11b34a6a8773c2db3782d5d-|49" defer=""></script></body>
</html>
