

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap">
<title> Slab.ng - Support Tickets</title>
<meta name="title" Content="Slab.ng - Support Tickets">
<meta name="description" content="Cheapest Social Media Followers and Likes Service In Nigeria Starting At Only ₦1">
<meta name="keywords" content="tiktok,instagram followers,buy instagram followers,instagram likes,buy instagram likes,buy instagram views,instagram followers nigeria,buy followers in nigeria">
<link rel="shortcut icon" href="https://slab.ng/assets/images/logoIcon/favicon.png" type="image/x-icon">
<link rel="apple-touch-icon" href="https://slab.ng/assets/images/logoIcon/logo.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Slab.ng - Support Tickets">
<meta itemprop="name" content="Slab.ng - Support Tickets">
<meta itemprop="description" content="">
<meta itemprop="image" content="https://slab.ng/assets/images/seo/617e7c58c2d741635679320.png">
<meta property="og:type" content="website">
<meta property="og:title" content="Slab.ng">
<meta property="og:description" content="Cheapest Social Media Followers and Likes Service In Nigeria Starting At Only ₦1">
<meta property="og:image" content="https://slab.ng/assets/images/seo/617e7c58c2d741635679320.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="315" />
<meta property="og:url" content="https://slab.ng/ticket">
<meta name="twitter:card" content="summary_large_image">
<link rel="stylesheet" href="https://slab.ng/assets/templates/basic//css/bootstrap-fileinput.css">

<link rel="stylesheet" href="https://slab.ng/assets/templates/basic/master/css/vendor/bootstrap.min.css">

<link rel="stylesheet" href="https://slab.ng/assets/templates/basic/master/css/vendor/bootstrap-toggle.min.css">

<link rel="stylesheet" href="https://slab.ng/assets/templates/basic/master/css/all.min.css">

<link rel="stylesheet" href="https://slab.ng/assets/templates/basic/master/css/line-awesome.min.css">

<link rel="stylesheet" href="https://slab.ng/assets/templates/basic/master/css/vendor/nice-select.css">

<link rel="stylesheet" href="https://slab.ng/assets/templates/basic/master/css/vendor/prism.css">

<link rel="stylesheet" href="https://slab.ng/assets/templates/basic/master/css/vendor/select2.min.css">

<link rel="stylesheet" href="https://slab.ng/assets/templates/basic/master/css/vendor/jquery-jvectormap-2.0.5.css">

<link rel="stylesheet" href="https://slab.ng/assets/templates/basic/master/css/vendor/datepicker.min.css">

<link rel="stylesheet" href="https://slab.ng/assets/templates/basic/master/css/vendor/jquery-timepicky.css">

<link rel="stylesheet" href="https://slab.ng/assets/templates/basic/master/css/vendor/bootstrap-clockpicker.min.css">

<link rel="stylesheet" href="https://slab.ng/assets/templates/basic/master/css/vendor/bootstrap-pincode-input.css">

<link rel="stylesheet" href="https://slab.ng/assets/templates/basic/master/css/app.css">

<link rel="stylesheet" href="https://slab.ng/assets/templates/basic/css/custom.css">
<link rel="stylesheet" href="https://slab.ng/assets/templates/basic//css/bootstrap-fileinput.css">

<script type="858825240733571da00a1a47-text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/25397861.js"></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=AW-984143866" type="858825240733571da00a1a47-text/javascript"></script>
<script type="858825240733571da00a1a47-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-984143866');
</script>
<script type="858825240733571da00a1a47-text/javascript">
    window.nudgify = {data: {"product":{"stock":null,"image":null,"id":null}}};
    (function(w){
        var k="nudgify",n=w[k]||(w[k]={});
        n.uuid="04be8603-a291-4191-895a-21ff9c776c92";
        var d=document,s=d.createElement("script");
        s.src="https://pixel.nudgify.com/pixel.js";
        s.async=1;
        s.charset="utf-8";
        d.getElementsByTagName("head")[0].appendChild(s)
    })(window)
</script>
</head>
<body>

<div class="page-wrapper default-version">
<div class="sidebar capsule--rounded  bg--white " data-background="https://slab.ng/assets/admin/images/sidebar/2.jpg">
<button class="res-sidebar-close-btn"><i class="las la-times"></i></button>
<div class="sidebar__inner">
<div class="sidebar__logo">
<a href="https://slab.ng" class="sidebar__main-logo"><img src="https://slab.ng/assets/images/logoIcon/logo.png" alt="image"></a>
<a href="https://slab.ng" class="sidebar__logo-shape"><img src="https://slab.ng/assets/images/logoIcon/favicon.png" alt="image"></a>
<button type="button" class="navbar__expand"></button>
</div>
<div class="sidebar__menu-wrapper" id="sidebar__menuWrapper">
<ul class="sidebar__menu">
<li class="sidebar-menu-item ">
<a href="https://slab.ng/user/dashboard" class="nav-link ">
<i class="menu-icon las la-home"></i>
<span class="menu-title">Dashboard</span>
</a>
</li>
<li class="sidebar-menu-item ">
<a href="https://slab.ng/user/services" class="nav-link ">
<i class="menu-icon las la-list-ol"></i>
<span class="menu-title">Place Order</span>
</a>
</li>






<li class="sidebar-menu-item ">
<a href="https://slab.ng/user/order/history" class="nav-link ">
<i class="menu-icon la la-clock"></i>
<span class="menu-title">Order History</span>
</a>
</li>
<li class="sidebar-menu-item sidebar-dropdown">
<a href="javascript:void(0)" class="">
<i class="menu-icon la la-bank"></i>
<span class="menu-title">Deposit</span>
</a>
<div class="sidebar-submenu  ">
<ul>
<li class="sidebar-menu-item  ">
<a href="https://slab.ng/user/deposit" class="nav-link">
<i class="menu-icon las la-dot-circle"></i>
<span class="menu-title">Deposit Money</span>
</a>
</li>
<li class="sidebar-menu-item  ">
<a href="https://slab.ng/user/deposit/history" class="nav-link">
 <i class="menu-icon las la-dot-circle"></i>
<span class="menu-title">Deposit Log</span>
</a>
</li>
</ul>
</div>
</li>
<li class="sidebar-menu-item ">
<a href="https://slab.ng/user/transaction/history" class="nav-link ">
<i class="menu-icon la la-exchange-alt"></i>
<span class="menu-title">Transactions</span>
</a>
</li>
<li class="sidebar-menu-item active">
<a href="https://slab.ng/ticket" class="nav-link ">
<i class="menu-icon la la-life-ring"></i>
<span class="menu-title">Support Ticket</span>
</a>
</li>







</ul>
</div>
</div>
</div>


<nav class="navbar-wrapper">
<form class="navbar-search" onsubmit="if (!window.__cfRLUnblockHandlers) return false; return false;" data-cf-modified-858825240733571da00a1a47-="">
<button type="submit" class="navbar-search__btn">
<i class="las la-search"></i>
</button>
<input type="search" name="navbar-search__field" id="navbar-search__field" placeholder="Search...">
<button type="button" class="navbar-search__close"><i class="las la-times"></i></button>
<div id="navbar_search_result_area">
<ul class="navbar_search_result"></ul>
</div>
</form>
<div class="navbar__left">
<button class="res-sidebar-open-btn"><i class="las la-bars"></i></button>
<button type="button" class="fullscreen-btn">
<i class="fullscreen-open las la-compress" onclick="if (!window.__cfRLUnblockHandlers) return false; openFullscreen();" data-cf-modified-858825240733571da00a1a47-=""></i>
<i class="fullscreen-close las la-compress-arrows-alt" onclick="if (!window.__cfRLUnblockHandlers) return false; closeFullscreen();" data-cf-modified-858825240733571da00a1a47-=""></i>
</button>
</div>
<div class="navbar__right">
<ul class="navbar__action-list">
<li class="dropdown">
<button type="button" class="" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
<span class="navbar-user">
<span class="navbar-user__thumb"><img src="https://slab.ng/placeholder-image/350x300" alt="image"></span>
<span class="navbar-user__info">
<span class="navbar-user__name">devsylva</span>
</span>
<span class="icon"><i class="las la-chevron-circle-down"></i></span>
</span>
</button>
<div class="dropdown-menu dropdown-menu--sm p-0 border-0 box--shadow1 dropdown-menu-right">
<a href="https://slab.ng/user/profile-setting" class="dropdown-menu__item d-flex align-items-center px-3 py-2">
<i class="dropdown-menu__icon las la-user-circle"></i>
<span class="dropdown-menu__caption">Profile</span>
</a>
<a href="https://slab.ng/user/change-password" class="dropdown-menu__item d-flex align-items-center px-3 py-2">
<i class="dropdown-menu__icon las la-key"></i>
<span class="dropdown-menu__caption">Change Password</span>
</a>
<a href="https://slab.ng/user/twofactor" class="dropdown-menu__item d-flex align-items-center px-3 py-2">
<i class="dropdown-menu__icon la la-lock"></i>
<span class="dropdown-menu__caption">2FA Security</span>
</a>
<a href="https://slab.ng/logout" class="dropdown-menu__item d-flex align-items-center px-3 py-2">
<i class="dropdown-menu__icon las la-sign-out-alt"></i>
<span class="dropdown-menu__caption">Logout</span>
</a>
</div>
</li>
</ul>
</div>
</nav>

<div class="body-wrapper">
<div class="bodywrapper__inner">
<div class="row align-items-center mb-10 justify-content-between">
<div class="col-lg-6 col-sm-6">
<h6 class="page-title">Support Tickets</h6>
</div>
<div class="col-lg-6 col-sm-6 text-sm-right mt-sm-0 mt-3 right-part">
<a class="btn btn-sm btn--primary box--shadow1 text-white text--small" href="https://slab.ng/ticket/new"><i class="fa fa-fw fa-plus"></i>New Ticket</a>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="card b-radius--10 ">
<div class="card-body p-0">
<div class="table-responsive--sm table-responsive">
<table class="table table--light style--two">
<thead>
<tr>
<th scope="col">Subject</th>
<th scope="col">Status</th>
<th scope="col">Last Reply</th>
<th scope="col">Action</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-muted text-center" colspan="100%">No result found!</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="card-footer py-4">
<nav aria-label="...">
<ul class="pagination justify-content-end mb-0">
<li>
</li>
</ul>
</nav>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<script src="https://slab.ng/assets/templates/basic/master/js/vendor/jquery-3.6.0.min.js" type="858825240733571da00a1a47-text/javascript"></script>

<script src="https://slab.ng/assets/templates/basic/master/js/vendor/bootstrap.bundle.min.js" type="858825240733571da00a1a47-text/javascript"></script>

<script src="https://slab.ng/assets/templates/basic/master/js/vendor/bootstrap-toggle.min.js" type="858825240733571da00a1a47-text/javascript"></script>

<script src="https://slab.ng/assets/templates/basic/master/js/vendor/jquery.slimscroll.min.js" type="858825240733571da00a1a47-text/javascript"></script>

<script src="https://slab.ng/assets/templates/basic/master/js/vendor/jquery.nice-select.min.js" type="858825240733571da00a1a47-text/javascript"></script>
<script src="https://slab.ng/assets/templates/basic/master/js/nicEdit.js" type="858825240733571da00a1a47-text/javascript"></script>

<script src="https://slab.ng/assets/templates/basic/master/js/vendor/prism.js" type="858825240733571da00a1a47-text/javascript"></script>

<script src="https://slab.ng/assets/templates/basic/master/js/vendor/select2.min.js" type="858825240733571da00a1a47-text/javascript"></script>

<script src="https://slab.ng/assets/templates/basic/master/js/app.js" type="858825240733571da00a1a47-text/javascript"></script>
<script src="https://slab.ng/assets/templates/basic//js/bootstrap-fileinput.js" type="858825240733571da00a1a47-text/javascript"></script>
<link rel="stylesheet" href="https://slab.ng/assets/admin/css/iziToast.min.css">
<script src="https://slab.ng/assets/admin/js/iziToast.min.js" type="858825240733571da00a1a47-text/javascript"></script>
<script type="858825240733571da00a1a47-text/javascript">
"use strict";
    function notify(status,message) {
        iziToast[status]({
            message: message,
            position: "topRight"
        });
    }
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-211452243-1" type="858825240733571da00a1a47-text/javascript"></script>
<script type="858825240733571da00a1a47-text/javascript">
                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag("js", new Date());
                
                  gtag("config", "UA-211452243-1");
                </script>
<script type="858825240733571da00a1a47-text/javascript">
    (function($,document){
        "use strict";
        bkLib.onDomLoaded(function() {
            $( ".nicEdit" ).each(function( index ) {
                $(this).attr("id","nicEditor"+index);
                new nicEditor({fullPanel : true}).panelInstance('nicEditor'+index,{hasPanel : true});
            });
        });
        $( document ).on('mouseover ', '.nicEdit-main,.nicEdit-panelContain',function(){
            $('.nicEdit-main').focus();
        });
    })(jQuery, document);
</script>
<script type="858825240733571da00a1a47-text/javascript" src="https://apiv2.popupsmart.com/api/Bundle/382489" async></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="858825240733571da00a1a47-|49" defer=""></script></body>
</html>
