<footer class="footer-section ptb-80">
  <div class="container">
    <div class="footer-area mrt-100">
      <div class="row ml-b-30">
        <div class="col-lg-4 col-sm-8 mrb-30">
          <div class="footer-widget widget-menu">
            <div class="footer-logo">
              <h3 class="widget-title">About Us</h3>
              <p>
                Iboost Is The Cheapest Social Media Marketing Service Panel
                Providing Affordable Social Media Marketing Services To Boost
                Your Presence On Instagram, TikTok And YouTube.
              </p>
              <div class="social-area">
                <ul class="footer-social"></ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 mrb-30">
          <div class="footer-widget">
            <h3 class="widget-title">Quick Link</h3>
            <ul>
              <li><a href="{% url 'core:services' %}">Services</a></li>
              <li><a href="{% url 'core:contact' %}">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mrb-30">
          <div class="footer-widget">
            <h3 class="widget-title">Privacy and Terms</h3>
            <ul>
              <li><a href="{% url 'core:refundPolicy' %}">Refund Policy</a></li>
              <li><a href="{% url 'core:privacy' %}">Privacy and Policy</a></li>
              <li>
                <a href="{% url 'core:termsAndCondition' %}"
                  >Terms and Conditions</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mrb-30">
          <div class="footer-widget widget-menu">
            <h3 class="widget-title">contact info</h3>
            <ul class="footer-contact-list">
              <li><a href="mailto:info@iboost.ng">info@iboost.ng</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
