{% load static %}
<header class="header-section">
<div class="header">
<div class="header-bottom-area">
<div class="container">
<div class="header-menu-content">
<nav class="navbar navbar-expand-lg p-0">
<a class="site-logo site-title" href="https://iboost.ng"><img src="{% static 'assets/images/logoIcon/logo.png' %}" height="34px" alt="site-logo"></a>
<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="fas fa-bars"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav main-menu ml-auto">
<li><a href="{% url 'core:home' %}">Home</a></li>
<li><a href="{% url 'core:services' %}">Services</a></li>
<li><a href="{% url 'core:contact' %}">Contact</a></li>

{% if request.user.is_authenticated %}
<li><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
<li><a href="{% url 'account:logout' %}" class="cmn-btn text px-3 py-2 mt-2" style="color:#ffffff !important;">Logout</a></li>
{% else %}
<li><a href="{% url 'account:login' %}">Login</a></li>
<li><a href="{% url 'account:register' %}" class="cmn-btn text px-3 py-2 mt-2" style="color:#ffffff !important;">Register</a></li>
{% endif %}

</ul>
</div>
</nav>
</div>
</div>
</div>
</div>
</header>